@font-face {
    font-family: "Raleway";
    src: url('../font/Raleway-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../font/Raleway-Bold.ttf');
    font-display: swap;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway-Bold';
}

body {
    margin: 0;
    overflow: hidden;
}

.slider {
    position: relative;
    text-align: center;

    h1 {
        // position: absolute;
        // z-index: 4;
        // top: 200px;
        // left: 50%;
        // transform: translate(-50%, -50%);
        font-size: 50px;
        width: 100%;
        color: #ffffff;
        text-shadow: 0 0 10px rgb(27, 27, 27);
        opacity: 0;
        padding-top: 200px;
    }

    p {
        line-height: 20px;
        font-size: 20px;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.278);
        max-width: 1321px;
        width: 100%;
        padding: 20px 0 20px;
        font-family: 'Raleway';
        margin: 0 auto;
        padding: 0;
    }

    .btn {
        background: #333386;
        border: 2px solid #333386;
        border: none;
        color: #fff;
        cursor: pointer;
        padding: 16px 35px;
        display: inline-block;
        outline: 0;
        font-size: 16px;
        text-align: center;
        border-radius: 25px;
        text-transform: uppercase !important;


    }

    &__description {
        opacity: 0;
        margin: 0 auto;
    }

    &__item {
        position: absolute;
        top: -30px;

        img {
            max-width: 100%;
        }
    }
}


.demo-icon {
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.icon-play-outline {
    top: 0;
    left: 49%;
}

.icon-circle {
    top: 0;
    left: 52%;
    opacity: 0;
}

.icon-circle-empty {
    top: 0;
    left: 52%;
}

.circle2 {
    top: 0;
    left: 55%;
    opacity: 0;
}

.icon2 {
    top: 0;
    left: 55%;
}

.icon-pause {
    top: 0;
    left: 58%;
}